
body {
	background-color:rgba(0,0,0,.5);
	margin:0;
}







.heap {
	background-color:blue;
	position:sticky;
	top:0;
	left:0;
}
.btm {
	background-color:rgba(177,200,0,.33);
	position:sticky;
	bottom:0;
	left:0;
	z-index:-1;
}

.ct {	/* div container */
	display:inline-block;
	border:1px solid red;	
}

.fa {
	width:-webkit-fill-available;
}

.re {
	position:relative;
}

.btn {		/* div button */
	
}

.cf {		/* div clearfix */
	
}

.ctt {
	position:relative;
	display:inline-block;
}

/* msgFrame div used for tip function, ... */
#msgFrame {
	visibility: hidden;
	text-align: center;
	background-color: #AAA;
	padding: 30px;
	border: 3px solid black;
	margin: 10px;
	position: absolute;
	width: 300px;
	height:	50px;
	z-index: 1;
	left: 40%;
	bottom: 5%;
	font-size: 21px;
	}
	
#msgFrame.show {
	visibility: visible;
	animation: fadein 0.5s, fadeout 0.3s 3s;
}	

@keyframes fadein	{
	from {bottom: 0; opacity: 0;}
	to {bottom: 5%; opacity: 1;}
	}
	
@keyframes fadeout	{
	from {bottom: 5%; opacity:1;}
	to {bottom: 0; opacity: 0;}
}

/* msgFrame ES */

/* modalFrame used for any dinamic content; */
#modalFrame {
	/* display: none; */
	position:fixed;
	width:-webkit-fill-available;
	height:100%;
	top:0;
	left:0;
	text-align:center;
	border: 3px dashed red;
}



#console {
	position: fixed;
	display: block;
	width: -webkit-fill-available;
	height: 50%;
	/* padding: 10px; */
	border: 3px dashed blue;
	background-color: #AAA;
	/* text-align: center;`` */
	top: -50%;
	padding-left:10px;
}


#logAreaContainer {
	display:-webkit-box;
	/* background-color:#00FFFF; */
	height:95%;
	
}


#logArea {
	background-color:#FFF;
	border: 1px dashed red;
	/* height:--webkit-fill-available; */
	width:100%;
	/* display:flex; */
	overflow:auto;
	
}

#console input{
	/* position:absolute; */
    /* bottom: 0; */
    width: -webkit-fill-available;
    left: 0;
}

#inT{
	display:block;
	background-color:red;
	/* padding:30px; */
	
}

#console.show{
	animation: moveDown 1s;
	animation-fill-mode: forwards;
	animation-direction: alternate;
	animation-iteration-count: 1;
}

#console.hide{
	animation: moveUp 1s;
	animation-fill-mode: forwards;
	animation-direction: alternate;
	animation-iteration-count: 1;
}

@keyframes moveUp{
	from{top:0; opacity:1;}
	to{top:-50%; opacity:0;}
}
@keyframes moveDown{
	from{top:-50%; opacity: 0;}
	to{top:0; opacity: 1;}
}


.disabled {
	display:none;
}


.hidden {
	display:none !important;
}