/* #myNavbar li {
	font-size:xx-large;	
} */

table {
display: -webkit-inline-box;
}

tr,td {
padding: 5px;
border: 1px solid black;
  
  }
  
  
.navbar .navbar-default .navbar-fixed-top {
	background-color: blue;
}

.jumbotron .text-center {

}

.preHeader img{
	padding:0.3em;
}

.preHeader {
	/* border:2px solid red; */
	padding:3px;
	padding-top: 1%;
	display:-webkit-inline-box;
	top:0px;
	width:-webkit-fill-available;
}

.column {
	width:33.3333333%;
	position:relative;
	text-align:center;
	float:left;
}

.column.phone{
	text-align:left;
	font-size:22px;
	font-style:bold;
	padding-left: 15%;
}

.preHeader a{
	text-decoration:underline;
	color:rgb(200,70,15);
	font-size:2em;
}
.preHeader::after{
	clear:both;	
}

.el::before{
	display:table;
	content:" ";
}
.el::before{
	box-sizing: border-box;
}
.el::after{
	clear:both
}
.el::after{
	display:table;
	content:" ";
}

.preHeader h3,h2,h1,h4,div{
	margin:0px;
}

.navbar.navbar-default.navbar-fixed-top.mycss {
	/* border:2px solid red; */
	padding:3px;
	background-color: #066bc6;
	position:-webkit-sticky;
	display:-webkit-inline-box;
	width:-webkit-fill-available;
	position:sticky;
	top:0;
	/* padding: 10px; */
}

.nav li{
	border:2px solid #066bc6;
}

.disabled{
	display:none;
}

#mrone, #mrtwo {
	height:500px;
	padding:5px;
	background-attachment: local;
	/* background-size: auto; */
	background-clip: padding-box;
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	color: black;
	position: relative;
}
#mrone {
	background-image:url('pic/mr.jpg');
}

#mrtwo {
	background-image:url('pic/mr2.jpg')
}

ul {
	text-align:left;
}

.oc {
	width:33.3333%;
	float:left;
	position:relative;
	text-align:center;
	/* border:0.3px dashed red; */
}

.inoc {
	display:-webkit-inline-box;
}