 /* body{ */
 /* margin: 0; */
 /* } */

body {
  font-family: Arial, Helvetica, sans-serif;
  
}



/* Style the header */
.heap {
  /* background-color: #f1f1f1;  */
  /* padding: 30px; */
  background-color: #inherit;
  text-align: center;
  font-size: 35px;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Left and right column */
.column.side {
  width: 25%;
}

/* Middle column */
.column.middle {
  width: 50%;
}

/* Clear floats after the columns */
.row {
	display: flex;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

.bar {
	position: sticky;
	top: 0;
	margin: 0px;
	border: 1px solid red;
	padding: 10px;
}

.em {
	display: block;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column.side, .column.middle {
    width: -webkit-fill-available;
  }
  .row {
	  display: block;
  }
  .em {
	  display: none;
  }
}

.container {
	background-color: #00ffff2e;
	margin: 0px;
	border: 0px solid red;
	padding: 0px;
}
.sub-container {

	margin: 0px;
	border: 0px solid red;
	padding: 0px;
}


.row,.container,.heap,.column,.middle,.side,.bar,.fw {
	margin: 0px;
	border: 1px solid red;
	padding: 10px;
}


/* *{ */
	/* padding: 10px; */
/* } */
